.gatos {
    width: 150px;
    position: absolute;
    z-index: 3;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.imgr {
    -webkit-animation: 27s rotate linear infinite;
    animation: 27s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#imgr2 {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

body {
    margin: 0;
}

.x {
    animation: x 13s linear infinite alternate;
    width: 100px;
    height: 100px;
    position: absolute;
}

.y {
    animation: y 7s linear infinite alternate;
    width: 100px;
    height: 100px;
}

@keyframes x {
    100% {
        transform: translateX( calc(95vw - 100px));
    }
}

@keyframes y {
    100% {
        transform: translateY( calc(95vh - 100px));
    }
}